<!-- the point of this page is to just wrap content with loaded scripts and files in one place -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/styles.css" /> 
	<title>{{title}}</title>
</head>
<body>
	{{{body}}}
</body>
</html>