* {
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.button-row {
  margin-top: 50px;
  text-align: right;
}
.button-row .error-message {
  color: red;
}
.center-form {
  display: inline-block;
  margin-left: 130px;
  margin-top: 20px;
}
.content-col {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-left: 305px;
  padding-right: 20px;
  font-family: sans-serif;
}
.content-col .input-info {
  font-size: 1.2em;
  text-align: center;
  padding-top: 30px;
}
.content-col .submit-title {
  font-size: 2em;
  margin-top: 20px;
}
.content-col .submit-form {
  margin-top: 10px;
}
.content-col .submit-form textarea {
  width: 100%;
}
.content-col .demo-title {
  margin-top: 30px;
  font-size: 1.4em;
  text-align: center;
}
.content-col .embeded {
  padding-bottom: 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.content-col .summary {
  margin-top: 20px;
  text-align: center;
}
.content-col .summary .text {
  padding-top: 20px;
}
.content-col .author {
  padding-bottom: 20px;
}
.input-row {
  margin-top: 30px;
  width: 100%;
}
.input-row .new-item {
  color: blue;
}
.input-row span {
  display: inline-block;
  text-align: right;
  width: 200px;
}
.input-row input,
.input-row select {
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
}
.input-row select {
  width: 253px;
}
.left-col {
  display: inline-block;
  position: fixed;
  width: 100%;
  max-width: 275px;
  height: 100%;
  background-color: #007ACC;
  border-right: 10px solid #C6E4EE;
}
.left-col a {
  text-decoration: none!important;
}
.left-col .col-item {
  margin-top: 5px;
  background: #000080;
  padding: 20px 0;
  width: 275px;
  margin-right: 5px;
  color: white;
  text-align: center;
}
.left-col .logo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 1.6em;
  padding: 20px 0;
}
.left-col .list-title {
  color: white;
  margin-left: 5px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.left-col .row-item {
  margin-top: 5px;
  background: #000080;
  padding: 5px 0;
  width: 275px;
  margin-right: 5px;
  color: white;
  text-align: center;
}
.left-col .col-item-list {
  margin-bottom: 25px;
}
.recent-samples {
  padding-bottom: 30px;
}
.recent-samples a {
  text-decoration: none!important;
}
.recent-samples .header {
  font-size: 1.5em;
  margin-top: 20px;
  padding-bottom: 30px;
}
.recent-samples .recent-sample {
  border-bottom: 2px solid #444;
}
.recent-samples .recent-sample .title {
  font-weight: bold;
}
.search-examples {
  height: 500px;
  width: 100%;
  border: 1px solid #000080;
  margin-bottom: 50px;
}
.search-examples .sort {
  margin-left: 20px;
  margin-bottom: 20px;
}
.search-examples .sort .select-search {
  margin-right: 30px;
}
.search-examples .sort .select-amount {
  margin-right: 30px;
}
.search-examples input {
  display: inline-block;
  margin: 20px;
  width: 70%;
  padding-left: 5px;
}
.search-examples button {
  width: 21%;
}
.search-examples .search-table {
  width: 100%;
  border-collapse: collapse;
}
.search-examples .search-table thead td {
  text-align: center;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 5px 0;
}
.search-examples .search-table thead td:not(:last-child) {
  border-right: 1px solid 444;
}
.search-examples .search-table thead .title {
  width: 40%;
}
.search-examples .search-table thead .framework {
  width: 20%;
}
.search-examples .search-table thead .date-submitted {
  width: 20%;
}
.search-examples .search-table thead .author {
  width: 20%;
}
.search-examples .search-table tbody td {
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #888;
}
.search-examples .search-table tbody td a {
  text-decoration: none!important;
  color: blue;
}
.search-examples .search-table tbody td:not(:last-child) {
  border-right: 1px solid #888;
}
