* {
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.button-row {
  margin-top: 50px;
  text-align: right;
}
.center-form {
  display: inline-block;
  margin-left: 130px;
  margin-top: 20px;
}
.content-col {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-left: 305px;
  padding-right: 20px;
  font-family: sans-serif;
}
.content-col .input-info {
  font-size: 1.2em;
  text-align: center;
  padding-top: 30px;
}
.content-col .submit-title {
  font-size: 2em;
  margin-top: 20px;
}
.content-col .submit-form {
  margin-top: 10px;
}
.content-col .submit-form textarea {
  width: 100%;
}
.input-row {
  margin-top: 30px;
  width: 100%;
}
.input-row .new-item {
  color: blue;
}
.input-row span {
  display: inline-block;
  text-align: right;
  width: 200px;
}
.input-row input,
.input-row select {
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
}
.input-row select {
  width: 253px;
}
.left-col {
  display: inline-block;
  position: fixed;
  width: 100%;
  max-width: 275px;
  height: 100%;
  background-color: #007ACC;
  border-right: 10px solid #C6E4EE;
}
.left-col a {
  text-decoration: none!important;
}
.left-col .col-item {
  margin-top: 5px;
  background: #000080;
  padding: 20px 0;
  width: 275px;
  margin-right: 5px;
  color: white;
  text-align: center;
}
.left-col .logo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 1.6em;
  padding: 20px 0;
}
.left-col .list-title {
  color: white;
  margin-left: 5px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.left-col .row-item {
  margin-top: 5px;
  background: #000080;
  padding: 5px 0;
  width: 275px;
  margin-right: 5px;
  color: white;
  text-align: center;
}
.left-col .col-item-list {
  margin-bottom: 25px;
}
.recent-samples a {
  text-decoration: none!important;
}
.recent-samples .header {
  font-size: 1.5em;
  margin-top: 20px;
  padding-bottom: 30px;
}
.recent-samples .recent-sample {
  border-bottom: 2px solid #444;
}
.recent-samples .recent-sample .title {
  font-weight: bold;
}
.search-examples {
  height: 500px;
  width: 100%;
  border: 1px solid #000080;
  margin-bottom: 50px;
}
.search-examples .sort {
  margin-left: 20px;
  margin-bottom: 20px;
}
.search-examples .sort .select-search {
  margin-right: 30px;
}
.search-examples .sort .select-amount {
  margin-right: 30px;
}
.search-examples input {
  display: inline-block;
  margin: 20px;
  width: 70%;
  padding-left: 5px;
}
.search-examples button {
  width: 21%;
}
.search-examples table {
  width: 100%;
  border-collapse: collapse;
}
.search-examples table thead td {
  text-align: center;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 5px 0;
}
.search-examples table thead td:not(:last-child) {
  border-right: 1px solid #666;
}
.search-examples table thead .title {
  width: 60%;
}
.search-examples table thead .date-submitted {
  width: 20%;
}
.search-examples table thead .author {
  width: 20%;
}
