@darkblue: #000080;
@darkerblue: #00001F;
@leftColWidth: 275px;
@lightblue: #007ACC;

* {
	font-family: sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.button-row {
	clear: both;
	margin-top: 50px;
	text-align: right;
	.error-message {
		color: red;
	}
	.left-button {
		float: left;
	}
	.message {
		padding-right: 15px;
		font-weight: bold;
	}
	button {
		margin-top: 30px;
		margin-right: 20px;
		background-color: @lightblue;
		-moz-border-radius: 28px;
		-webkit-border-radius: 28px;
		border-radius: 28px;
		border: 1px solid @darkblue;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: Arial;
		font-size: 17px;
		padding: 16px 31px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #2f6627;
	}
	button:hover {
		background-color: darkblue;
	}
	button:active {
		position: relative;
		top: 1px;
	}
	button:focus {
		outline: 0;
	}
}

.center-form {
	display: inline-block;
	//margin-left: 130px;
	margin-top: 30px;
	float: right;
	.dropdown {
		position: relative;
		display: inline-block;
		border: 0;
		select {
			padding: 8px;
			color: black;
			display: block;
			background: white;
			height: 38px;
			border: 1px solid #999;
			font: normal 14px/16px "Segoe UI", Arial, Helvetica, Sans-serif;
			outline: 0 none;
		}
	}
	input {
		height: 32px;
		padding-left: 8px;
	}
}

.content-col {
	display: inline-block;
	width: 100%;
	height: 100%;
	max-width: 800px;
	margin-left: 30px + @leftColWidth;
	padding-right: 20px;
	font-family: sans-serif;
	.input-info {
		font-size: 1.2em;
		padding-top: 30px;
	}
	.submit-title {
		font-size: 2em;
		margin-top: 20px;
	}
	.submit-form {
		margin-top: 10px;
		textarea {
			width: 97%;
		}
	}
	.demo-title {
		margin-top: 30px;
		font-size: 1.4em;
		text-align: center;
	}
	.embeded {
		padding-bottom: 20px;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
	}
	.summary {
		margin-top: 20px;
		text-align: center;
		.text {
			padding-top: 20px;
		}
	}
	.author {
		padding-bottom: 20px;
	}
}

.input-row {
	margin-top: 30px;
	width: 100%;
	.new-item {
		color:blue;
	}
	span {
		display: inline-block;
		text-align: right;
		width: 200px;
		p {
			display: block;
		}
	}
	input {
		width: 242px;
		font-size: 14px;
	}
	input, select {
		margin-left: 15px;
		margin-right: 15px;
	}
	select {
		width: 250px + 3px;
	}
	.wide-span {
		width: 470px;
	}
}

.left-col {
	
	display: inline-block;
	position: fixed;
	width: 100%;
	max-width: @leftColWidth;
	height: 100%;
	background-color: @lightblue;
	border-right: 10px solid #C6E4EE;
	
	a {
		text-decoration: none!important;
	}
	
	.col-item {
		margin-top: 5px;
		background: @darkblue;
		padding: 20px 0;
		width: @leftColWidth;
		margin-right: 5px; //to account for border-right
		color: white;
		text-align: center;
	}
	
	.logo {
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-align: center;
		margin-right: 5px; //to account for border-right
		font-size: 1.6em;
		padding: 20px 0;
	}
	
	.list-title {
		color:white;
		margin-left: 5px;
		margin-top: 25px;
		text-align: center;
		margin-bottom: 15px;
	}
	
	.row-item {
		margin-top: 5px;
		background: @darkblue;
		padding: 5px 0;
		width: @leftColWidth;
		margin-right: 5px; //to account for border-right
		color: white;
		text-align: center;
	}
	
	.col-item-list {
		margin-bottom: 25px;
	}

}

.recent-samples {
	
	padding-bottom: 30px;
	
	a {
		text-decoration: none!important;
	}
	
	.header {
		font-size: 1.5em;
		margin-top: 20px;	
		padding-bottom: 30px;	
	}
	
	.recent-sample {
		border-bottom: 2px solid #444;
		.title {
			font-weight: bold;
		}
	}

}

.search-examples {
	height: 500px;
	width: 100%;
	border: 1px solid @darkblue;
	margin-bottom: 50px;
	.sort {
		margin-left: 20px;
		margin-bottom: 20px;
		.select-search {
			margin-right: 30px;
		}
		.select-amount {
			margin-right: 30px;
		}
	}
	input {
		display: inline-block;
		margin: 20px;
		width: 70%;
		padding-left: 5px;
	}
	button {
		width: 21%;
	}
	.search-table {
		width: 100%;
		border-collapse: collapse;
		thead {
			td {
				text-align: center;
				border-top: 1px solid #444;
				border-bottom: 1px solid #444;
				padding: 5px 0;
			}
			td:not(:last-child){
				border-right: 1px solid 444;
			}
			.title {
				width: 40%;
			}
			.framework {
				width: 20%;
			}
			.date-submitted {
				width: 20%;
			}
			.author {
				width: 20%;
			}
		}
		tbody {
			td {
				padding: 5px;
				padding-left: 10px;
				border-bottom: 1px solid #888;
				a {
					text-decoration: none!important;
					color: blue;
				}
			}
			td:not(:last-child){
				border-right: 1px solid #888;
			}
		}
	}
}