html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.left-col {
	max-width: 330px;
	height: 100%;
	background-color: #000080;
	border-right: 10px solid lightblue;
	.logo {
		color: white;
		text-align: center;
		margin-right: 10px; //to account for border-right
	}
}