<div class="left-col">
	<a href="/">
		<div class="logo">
			Sample Code
		</div>
	</a>
	<div class="list-title">
		Examples
	</div>
	<div class="col-item-list">
		{{#each samples}}
			<a href="/sample/{{title}}">
				<div class="row-item">{{title}}</div>
			</a>	
		{{/each}}
	</div>
	<a href="/submit">
		<div class="col-item submit-sample">
			Submit Sample
		</div>
	</a>
</div>